<!-- BEGIN_INCLUDE(google-bigquery:config) -->
	<google-bigquery:config applicationName="someApplicaitonName"
		serviceAccount="serviceAccountEmail" privateKeyP12File="someP12File" storePass="storepass" alias="alias" keyPass="keypass"/>
<!-- END_INCLUDE(google-bigquery:config) -->

<!-- BEGIN_INCLUDE(google-bigquery:insert-all) -->
    <google-bigquery:insert-all datasetId="someId" projectId="someId" tableId="someId" throttle="1000" config-ref="google-bigquery" >
    	<google-bigquery:content ref="#[payload]"/>
    </google-bigquery:insert-all>
<!-- END_INCLUDE(google-bigquery:insert-all) -->

<!-- BEGIN_INCLUDE(google-bigquery:list-all) -->
    <google-bigquery:list-all datasetId="someId" projectId="someId" tableId="someId"/>
<!-- END_INCLUDE(google-bigquery:list-all) -->

<!-- BEGIN_INCLUDE(google-bigquery:delete-table) -->
    <google-bigquery:delete-table datasetId="someId" projectId="someId" tableId="someId"/>
<!-- END_INCLUDE(google-bigquery:delete-table) -->

<!-- BEGIN_INCLUDE(google-bigquery:create-table) -->
    <google-bigquery:create-table datasetId="someId" projectId="someId" tableId="someId">
    	<google-bigquery:content ref="#[payload]"/>
    </google-bigquery:create-table>
<!-- END_INCLUDE(google-bigquery:create-table) -->

<!-- BEGIN_INCLUDE(google-bigquery:list-all-projects) -->
    <google-bigquery:list-all-projects />
<!-- END_INCLUDE(google-bigquery:list-all-projects) -->

<!-- BEGIN_INCLUDE(google-bigquery:list-all-datasets) -->
    <google-bigquery:list-all-datasets projectId="someId" />
<!-- END_INCLUDE(google-bigquery:list-all-datasets) -->

<!-- BEGIN_INCLUDE(google-bigquery:list-all-tables) -->
    <google-bigquery:list-all-tables datasetId="someId" projectId="someId" />
<!-- END_INCLUDE(google-bigquery:list-all-tables) -->

<!-- BEGIN_INCLUDE(google-bigquery:list-all-tablefields) -->
    <google-bigquery:list-all-tablefields datasetId="someId" projectId="someId" tableId="someId"/>
<!-- END_INCLUDE(google-bigquery:list-all-tablefields) -->

